@import "vars";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
    font-size: 62.5%;
    font-size: calc(1em * .625);
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
body {
    margin:0;
    padding:0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
		background: #000;
		color: $color-light;
		-webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto
}

main {
	position: relative;
	max-width: 100%;
  margin: 0 auto;
	z-index: 1;
}

a {
	color: $color-light;
  text-decoration: none;
}



h1 {
	font-weight: 700;
	font-size: 14rem;
	display: inline-block;
	text-transform: uppercase;
	color: #FBBD0A;
}

.intro {
	position: relative;
	height: 100vh;
	background: #000 url(../images/header.jpg) no-repeat 50%;
	text-align: center;
}

.intro h1 {
	position: absolute;
	bottom:5%;
	left: 0;
	width: 100%;
	background: linear-gradient(#FCFBF9, #D18236);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item1 {
	height: 100vh;
}

.item2 {
	height: 50vh;
}

.item1:first-child {
	background: #000;
}

.item2:first-child {
	background: #000;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0;
	position: relative;
}
.col span {
	display: block;
	position: absolute;
}

.col span.photo {
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.col span.title {
	bottom:8px;
	left:0;
	width: 100%;
	text-align: center;
	display: block;
	font-weight: 300;
	font-size: 3rem;
	color:#fff;
	padding: 1rem;
}

.col span img {
	display: block;
	width: auto;
	height: 100%;
	-webkit-transition: all 0.8s linear;
				 transition: all 0.8s linear;
 -webkit-transform: scale3d(1, 1, 1);
				 transform: scale3d(1, 1, 1);
}

.col span img:hover {
	-webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 75%;
}
.span_2_of_4 {
	width: 50%;
}
.span_1_of_4 {
	width: 25%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 0; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

/* Contact */
form {
    margin: 0 0 2em 0;
}

form .field.half.first {
    padding: 0 1em 0 0;
}

form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 1em;
}

form .field {
    margin: 0 0 2em 0;
}

label {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select {
    height: 2.75em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
@media screen and (max-width: 1280px) {
	body, input, select, textarea {
	    font-size: 12pt;
	}
}

@media screen and (max-width: 1680px) {
	body, input, select, textarea {
	    font-size: 14pt;
	}
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

form > .actions {
    margin: 2.5em 0 0 0 !important;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}
ol, ul {
    list-style: none;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
    background-color: #ffffff;
    box-shadow: none;
    color: #000;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}


	#contact {

	}

		#contact > .inner {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			padding: 0 !important;
		}

			#contact > .inner > :nth-child(2n - 1) {
				padding: 4em 3em 2em 0 ;
				width: 60%;
				margin:0 auto;
			}

			#contact > .inner > :nth-child(2n) {
				padding-left: 3em;
				width: 40%;
			}

			#contact > .inner > .split {
				padding: 0;
			}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 3em ;
					position: relative;
				}

					#contact > .inner > .split > *:before {
						border-top: solid 1px rgba(212, 212, 255, 0.1);
						content: '';
						display: block;
						margin-left: -3em;
						position: absolute;
						top: 0;
						width: calc(100vw + 3em);
					}

				#contact > .inner > .split > :first-child:before {
					display: none;
				}

		@media screen and (max-width: 980px) {

			#contact > .inner {
				display: block;
			}

				#contact > .inner > :nth-child(2n - 1) {
					padding: 4em 0 2em 0 ;
					border-right: 0;
					width: 100%;
				}

				#contact > .inner > :nth-child(2n) {
					padding-left: 0;
					width: 100%;
				}

				#contact > .inner > .split > * {
					padding: 3em 0 1em 0 ;
				}

				#contact > .inner > .split > :first-child:before {
					display: block;
				}

		}

		@media screen and (max-width: 736px) {

			#contact > .inner > :nth-child(2n - 1) {
				padding: 3em 0 1em 0 ;
			}

		}
